from...
# [The Future 10: Get To Know These 10 Black Women In Tech](https://www.essence.com/news/money-career/black-women-working-in-tech/)
Essence Magazine Online, Nov 2018

In [1]:
# importing libraries
import requests
import pandas as pd

In [2]:
# storing url
url = 'https://www.essence.com/news/money-career/black-women-working-in-tech/'

In [4]:
# storing html
html = requests.get(url).text

In [26]:
# looking at first 100 characters html
print(html[:1000])

<!-- static_get   key="403295" group="content/full-freestar/040" expires="Tue, 24 May 2022 08:00:43 +0000" now="Tue, 24 May 2022 07:58:12 +0000" -->

<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/><script type="text/javascript">(window.NREUM||(NREUM={})).init={privacy:{cookies_enabled:true},ajax:{deny_list:["bam-cell.nr-data.net"]}};(window.NREUM||(NREUM={})).loader_config={xpid:"VgUHVl9RDBACV1NaAAAOX1U=",licenseKey:"e0dca8d6e4",applicationID:"232871991"};window.NREUM||(NREUM={}),__nr_require=function(t,e,n){function r(n){if(!e[n]){var o=e[n]={exports:{}};t[n][0].call(o.exports,function(e){var o=t[n][1][e];return r(o||e)},o,o.exports)}return e[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({1:[function(t,e,n){function r(t){try{s.console&&console.log(t)}catch(e){}}var o,i=t("ee"),a=t(31),s={};try{o=localStorage.getItem("__nr_flags").split(","),console&&"function"==typeof console.log&&(s.console=!0,o.ind

In [24]:
# splitting html text into list of strings (looking at first few lines)
html.split('\n')[:6]

['',
 '<!-- static_get   key="403295" group="content/full-freestar/040" expires="Tue, 24 May 2022 08:00:43 +0000" now="Tue, 24 May 2022 07:58:12 +0000" -->',
 '',
 '<!doctype html>',
 '<html lang="en-US">',
 '<head>']

In [8]:
# targeting substring to get list of names
for line in html.split('\n'):
    if 'strong' in line:
        print(line)

<strong>Kathryn Finney</strong>
<strong>Regina Gwynn</strong>
<strong>Camille Hearst</strong>
<strong>Esosa Ighodaro</strong>
<strong>Jasmine Lawrence</strong>
<strong>Cierra McDonald</strong>
<strong>Amanda Spann</strong>
<strong>Kamilah Taylor</strong>
<strong>Lauren Washington</strong>
<strong>Tishauna Wilson</strong>

In [9]:
# removing non-name text
for line in html.split('\n'):
    if 'strong' in line:
        print(line.replace('<strong>', '').replace('</strong>', ''))

Kathryn Finney
Regina Gwynn
Camille Hearst
Esosa Ighodaro
Jasmine Lawrence
Cierra McDonald
Amanda Spann
Kamilah Taylor
Lauren Washington
Tishauna Wilson

In [10]:
# saving names to text file
with open('black-women-in-tech_names.txt', 'w') as write_names:
    for line in html.split('\n'):
        if 'strong' in line:
            #saving each names to list var
            names = line.replace('<strong>', '').replace('</strong>', '')
            
            #adding each name to text file
            write_names.write(names)
            
            #separating each name to its own line
            write_names.write('\n')

In [11]:
# verifying names added to file correctly by reading in text file to df
pd.read_csv('black-women-in-tech_names.txt')

      Kathryn Finney
0       Regina Gwynn
1     Camille Hearst
2     Esosa Ighodaro
3   Jasmine Lawrence
4    Cierra McDonald
5       Amanda Spann
6     Kamilah Taylor
7  Lauren Washington
8    Tishauna Wilson